<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIconFile</key>
  <string>icon</string>

  <key>NSPrincipalClass</key>
  <string>NSApplication</string>

  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>

  <key>CFBundleExecutable</key>
  <string>NFOViewer</string>

  <key>CFBundleIdentifier</key>
  <string>ca.wonderlan.nfoviewer</string>

  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>

  <key>CFBundleName</key>
  <string>NFOViewer</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleShortVersionString</key>
  <string>0.1</string>

  <key>CFBundleVersion</key>
  <string>1</string>

  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>

  <key>NSHighResolutionCapable</key>
  <true/>

  <!-- Document type for .nfo -->
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>NFO Document</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.plain-text</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>nfo</string>
      </array>
      <key>NSDocumentClass</key>
      <string>NFODocument</string>
    </dict>
  </array>
</dict>
</plist>
